backpack==0.1
gdown==3.13.0
imageio==2.9.0
imbalanced_learn==0.10.1
imblearn==0.0
matplotlib==3.6.3
numpy==1.20.3
opencv_python==4.7.0.68
pandas==1.5.2
parameterized==0.8.1
Pillow==9.4.0
scikit_learn==1.2.1
scipy==1.10.1
timm==0.4.12
torch==1.12.1
TorchSnooper==0.8
torchvision==0.13.1
tqdm==4.62.2
wilds==1.2.2
